# Editors
.vscode/
.idea/

# Mac/OSX
.DS_Store
allure-report/
reportsx

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
env.sh


# plugin
*.pid
*.db
logs

#pip
dist
from_ge_to_allure_mapper.egg-info
__pycache__

